html
  head
    title Visitantes recurrentes
  body
    table
      thead
        tr
          th Id
          th Name
      tbody
        each user in users
          tr
            td= user._id
            td= user.name