html
  head
    title Formulario de mierda
  body
    form(action="/login", method="post")
        input#correo(type="email", name="email")
        input#password(type="password", name="password", autocomplete="current-password")
        input(type="submit", value="Submit")