html
  head
    title Formulario de mierda
  body
    form(action="/register", method="post")
        input#nombre(type="text", name="name")
        input#correo(type="email", name="email")
        input#password(type="password", name="password")
        input(type="submit", value="Submit")